<app-socialmedia></app-socialmedia>
<div class="container">
    <div class="section section-components section">
        <div class="row">
            <div class="col-md-10 col-lg-14 ml-auto mr-auto">

                <h1 class="elementor-heading-title text-center">Navigate your career path with precision in logistics
                </h1>
                <!--  <h6 class="category">The core elements of your website</h6> -->
                <div class="container">
                    <h5 class="Introduction-text">Our journey begins with opportunity and every destination leads to
                        growth. As a valued member of our team, you play a crucial role in shaping the future of
                        logistics and driving our company’s success..</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-lg-14 ml-auto mr-auto">

                <h4 class=" text-center">Explore Diverse Opportunities
                </h4>
                <!--  <h6 class="category">The core elements of your website</h6> -->
                <div class="container">
                    <h5 class="Introduction-text">At TTD Logistics Pvt. Ltd., we believe in the power of diversity and
                        the strength of individual talents. We offer a wide range of career paths to suit your skills
                        and interests. From entry-level positions to senior leadership roles, there’s ample opportunity
                        for you to explore, learn, and grow. We’re committed to investing in your success and helping
                        you reach your full potential. </h5>
                </div>
                <div class="container">
                    <h5 class="Introduction-text">In TTD logistics, collaboration is key to our success. We foster a
                        culture of teamwork, open communication, and mutual respect, where every voice is heard and
                        every contribution is valued. </h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-lg-14 ml-auto mr-auto">

                <h3 class=" text-center">Register with US
                </h3>
                <div class="container">
                    <!-- app.component.html -->

                    <form (ngSubmit)="submitForm()" #contactForm="ngForm">
                        <div class="form-group">
                            <label for="firstName">First Name:</label>
                            <input type="text" class="form-control" id="firstName" name="firstName"
                                [(ngModel)]="firstName" required>
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name:</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="lastName"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="qualification">Qualification:</label>
                            <input type="text" class="form-control" id="qualification" name="qualification"
                                [(ngModel)]="qualification">
                        </div>
                        <div class="form-group">
                            <label for="experience">Total Experience:</label>
                            <input type="number" class="form-control" id="experience" name="experience"
                                [(ngModel)]="experience">
                        </div>
                        <div class="form-group">
                            <label for="contactNo">Contact No.:</label>
                            <input type="tel" class="form-control" id="contactNo" name="contactNo"
                                [(ngModel)]="contactNo" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email Id:</label>
                            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email"
                                required email>
                        </div>
                        <div class="form-group">
                            <label for="address">Address:</label>
                            <textarea class="form-control" id="address" name="address" [(ngModel)]="address"
                                rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="city">City:</label>
                            <input type="text" class="form-control" id="city" name="city" [(ngModel)]="city">
                        </div>
                        <div class="form-group">
                            <label for="state">State:</label>
                            <input type="text" class="form-control" id="state" name="state" [(ngModel)]="state">
                        </div>
                        <div class="form-group">
                            <label for="licenseNo">Driving License No.:</label>
                            <input type="text" class="form-control" id="licenseNo" name="licenseNo"
                                [(ngModel)]="licenseNo">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer section-nude">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Other social media icons and links -->
            <div class="col-auto">
                <a>
                    <img src="./assets/img/demo/instagram-logo-3.png" (click)="openInstagramLink()" alt="Instagram"
                        class="social-media-icon" style="height: 27px;">
                </a>
            </div>
            <!-- Other social media icons and links -->
            <div class="col-auto">
                <a>
                    <img src="./assets/img/demo/facebook-logo-0.png" alt="" (click)="openFacebook()"
                        class="social-media-icon" style="height: 40px;;">
                </a>
            </div>
            <!-- Other social media icons and links -->
            <div class="col-auto">
                <a>
                    <img src="./assets/img/demo/Youtube-Icon.png" (click)="openYouTubeLink()" alt=""
                        class="social-media-icon" style="height: 40px;;">
                </a>
            </div>
            <!-- Other social media icons and links -->
            <div class="col-auto">
                <a>
                    <img src="./assets/img/demo/Link_Logo.jpeg" (click)="openLinkedInProfile()" alt=""
                        class="social-media-icon" style="height: 30px;;">
                </a>
            </div>
        </div>
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="/">TTD Logistics</a></li>

                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{data | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by TTD Logistics Developers
                </span>
            </div>
        </div>
    </div>
</footer>