<div class="section section-contactus cd-section" id="contact-us">
    <div class="contactus-1 section-image vission-css" style="background-color: aqua;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="card card-contact no-transition">
                        <div class="row">
                            <div class="col-md-5 ml-auto">
                                <div class="card-body">
                                    <div class="info info-horizontal">
                                        <div class="icon icon-info" (click)="openMap()">
                                            <i class="nc-icon nc-pin-3" aria-hidden="true"></i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Find us at the office</h4>
                                            <p> 60 Feet Road,
                                                Near Bhairavnath Gas Agency,
                                                Opp. Amazon Prime, Pimple
                                                Gurav, District – Pune, 61
                                            </p>
                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-danger">
                                            <i class="nc-icon nc-badge" aria-hidden="true"></i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Site Office</h4>
                                            <p>Sonai Building 1st Floor,<br>

                                                Opp Shell Petrol Pump,<br>
                                                Hinjewadi,Pune-411057</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 mr-auto">
                                <form role="form" id="contact-form" method="post">
                                    <div class="card-body">

                                        <h4 class="">Enquiry Form</h4>



                                        <div class="form-group label-floating">
                                            <label class="control-label">Full name</label>
                                            <input type="text" name="name" [(ngModel)]="firstname" class="form-control"
                                                placeholder="First Name">
                                        </div>

                                        <div class="form-group label-floating">
                                            <label class="control-label">Email address</label>
                                            <input type="email" name="email" class="form-control" [(ngModel)]="email"
                                                placeholder="Email" />
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Mobile Number</label>
                                            <input type="mobile" name="mobile" class="form-control" [(ngModel)]="mobile"
                                                placeholder="mobile" />
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Your message</label>
                                            <textarea name="message" class="form-control" [(ngModel)]="message"
                                                id="message" rows="6" placeholder="Message"></textarea>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            checked>
                                                        I'm not a robot !
                                                        <span class="form-check-sign"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <button class="btn btn-primary pull-right" (click)="sendMessage()">Send
                                                    Message</button>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                        <h4 style="margin-left: 10px;" style="text-align: center;" class="elementor-heading-title">Our
                            Branches:</h4>
                        <div class="row" style="padding: 28px; text-align: justify;">
                            <div class="card col-md-4 branches-card">
                                <div>
                                    <span>TTD Logistics Pvt. Ltd., <br>1624, BHEL, MG, 4th Batch, <br>Nallangandla,
                                        Rangareddy, <br>Telangana, 500019</span>
                                </div>
                            </div>
                            <div class="card col-md-4 branches-card">
                                <div>
                                    <span>TTD Logistics Pvt. Ltd., <br>Dharmishtha Park Society, B-227, <br>Nana
                                        Varachha,
                                        Surat, <br>Gujrat, 395006</span>
                                </div>
                            </div>
                            <div class="card col-md-4 branches-card">
                                <div>
                                    <span>TTD Logistics Pvt. Ltd., <br>Ground Floor, Shop Bearing 08, <br>Karim Mansion,
                                        Behind Pharmacy College, St. Inez, Panji, North Goa, Goa, 403001</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<footer class="footer section-nude">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Other social media icons and links -->
            <div class="col-auto">
                <a>
                    <img src="./assets/img/demo/instagram-logo-3.png" (click)="openInstagramLink()" alt="Instagram"
                        class="social-media-icon" style="height: 27px;">
                </a>
            </div>
            <!-- Other social media icons and links -->
            <div class="col-auto">
                <a>
                    <img src="./assets/img/demo/facebook-logo-0.png" alt="" (click)="openFacebook()"
                        class="social-media-icon" style="height: 40px;;">
                </a>
            </div>
            <!-- Other social media icons and links -->
            <div class="col-auto">
                <a>
                    <img src="./assets/img/demo/Youtube-Icon.png" (click)="openYouTubeLink()" alt=""
                        class="social-media-icon" style="height: 40px;;">
                </a>
            </div>
            <!-- Other social media icons and links -->
            <div class="col-auto">
                <a>
                    <img src="./assets/img/demo/Link_Logo.jpeg" (click)="openLinkedInProfile()" alt=""
                        class="social-media-icon" style="height: 30px;;">
                </a>
            </div>
        </div>

        <div class="row">

            <nav class="footer-nav">
                <ul>
                    <li><a href="/">TTD Logistics</a></li>

                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    Email: <a href="mailto:support@ttdlogistics.in">support@ttdlogistics.in</a>.<br>
                </span>
            </div>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{data | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by TTD Logistics Developers
                </span>
            </div>
        </div>
    </div>
</footer>