<div class="wrapper">
    <!-- <div class="page-header bg-container section-image showcase"
        style="background: url('./assets/img/EV.jpg') no-repeat center center scroll;min-height:900px;">
        <div class="content-center">
            <div class="container">
                <div class="title-brand text-center bg-text">
                    
                    <h3>A Sustainable Approach to Transform the Community by Electrifying TTD Logistics.</h3>
                </div>

            </div>
        </div>
    </div> -->

    <div class="page-header section vission-css" style="background: url('./assets/img/EV.jpg');">
        <div class="content-center">
          <div class="container">
            <div class="title-brand">
              <!-- <div class="angular-logo mt-photo"><img alt="" src="./assets/img/ttd-new-logo-small.png"></div> -->
              <h1 class="presentation-title text-color">A Sustainable Approach to Transform the Community by Electrifying TTD Logistics.</h1>
              
            </div>
            
          </div>
        </div>
      </div>

<div class="section section-components section">
    <div class="row">
        <div class="col-md-10 col-lg-14 ml-auto mr-auto">
            <!--  <h6 class="category">The core elements of your website</h6> -->
            <div class="container">
                <h5 class="Introduction-text">In an era defined by environmental consciousness and sustainability
                    practices, TTD Logistics stands at the forefront of innovation, revolutionizing the logistics
                    industry with its exclusive focus on electric vehicles (EVs). By embracing the forward-thinking
                    approach, TTD Logistics is not only meeting the demands of modern logistics but also paving the way
                    for a greener, more efficient future.</h5>
                <h5 class="Introduction-text">Traditional logistics company have long grappled with environmental and
                    economic implications of reliance on fossil fuels. With concerns over carbon emission and rising
                    fuel costs, the need of alternative solutions has never been more apparent. Enter electric vehicles
                    – a game changing technology that offers not only reduced emission but also costs savings and
                    operational efficiencies.</h5>
                <h5 class="Introduction-text">At TTDL, sustainability isn’t just a buzzword – it’s a guiding principle
                    deeply ingrained in every aspect of our operations. From the warehouse to the final delivery, we are
                    committed to minimizing our positive impact on the planet. Our exclusive use of electric vehicles is
                    a testament to this commitment, as we strive to lead by example in the logistics industry. We
                    recognize the urgent need to transition to renewable energy sources and embrace sustainable
                    practices across our operations.</h5>
            </div>
        </div>
    </div>
</div>
<div class="section section-components section" style="padding-top: 0px;">
    <div class="row">
        <div class="col-md-10 col-lg-14 ml-auto mr-auto">
            <div class="container">
                <h1 class="elementor-heading-title text-center">By embracing EVs, TTDL offers numerous advantages to our
                    clients and partners</h1>
                <div class="row" style="padding: 25px;">
                    <div class="col-md-6">
                        <div class="card gradiant">
                            <div class="card-body">
                                <h3 class="card-category elementor-heading-title" style="text-align: center; margin-bottom: 47px;">
                                    Environmental Impact</h3>
                                <p class="card-description para-change text-large Introduction-text">
                                    With zero tailpipe emissions, our electric vehicles help reduce air pollution and
                                    combat climate change.
                                </p>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card gradiant">
                            <div class="card-body">
                                <h3 class="card-category elementor-heading-title" style="text-align: center;">
                                    Cost Savings</h3>
                                <p class="card-description para-change text-large Introduction-text">
                                    Electric vehicles have lower operating costs compared to traditional diesel trucks,
                                    resulting in significant savings for our clients.
                                </p>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding: 25px;">
                    <div class="col-md-6" style="height: 50px;">
                        <div class="card gradiant">
                            <div class="card-body">
                                <h3 class="card-category elementor-heading-title" style="text-align: center;">
                                    Efficiency</h3>
                                <p class="card-description para-change text-large Introduction-text">
                                    Electric vehicles offer smooth and quiet operation, ensuring timely and reliable
                                    deliveries while minimizing noise pollution.
                                </p>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card gradiant">
                            <div class="card-body">
                                <h3 class="card-category elementor-heading-title" style="text-align: center;">
                                    Brand Reputation</h3>
                                <p class="card-description para-change text-large Introduction-text">
                                    Partnering with TTD Logistics demonstrates a commitment to sustainability, enhancing
                                    the reputation of our clients as environmentally responsible businesses.
                                </p>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-components section" style="padding-top: 0px;">
    <div class="row">
        <div class="col-md-10 col-lg-14 ml-auto mr-auto">
            <div class="container">
                <h1 class="elementor-heading-title text-center">TTDL provide a comprehensive suite of services designed to optimize the entire logistics process</h1>
                <div class="row" style="padding: 25px;">
                    <div class="col-md-6">
                        <div class="card gradiant">
                            <div class="card-body">
                                <h3 class="card-category elementor-heading-title" style="text-align: center;">
                                    Fleet Management</h3>
                                <p class="card-description para-change text-large Introduction-text">
                                    Our fleet of electric vehicles is meticulously maintained and monitored to ensure optimal performance and reliability.
                                </p>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card gradiant">
                            <div class="card-body">
                                <h3 class="card-category elementor-heading-title" style="text-align: center;">
                                    Charging Infrastructure</h3>
                                <p class="card-description para-change text-large Introduction-text">
                                    We have invested in a robust charging infrastructure, strategically located to support our electric vehicle operations.
                                </p>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding: 25px;">
                    <div class="col-md-6">
                        <div class="card gradiant">
                            <div class="card-body">
                                <h3 class="card-category elementor-heading-title" style="text-align: center;">
                                    Route Optimization</h3>
                                <p class="card-description para-change text-large Introduction-text">
                                    Leveraging cutting-edge technology, we optimize delivery routes to minimize energy consumption and maximize efficiency.
                                </p>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card gradiant">
                            <div class="card-body">
                                <h3 class="card-category elementor-heading-title" style="text-align: center; margin-bottom: 47px;">
                                    Partnerships</h3>
                                <p class="card-description para-change text-large Introduction-text">
                                    We collaborate with like-minded suppliers and partners who share our commitment to sustainability.
                                </p>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<footer class="footer section-nude">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="/">TTD Logistics</a></li>

                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    Email: <a href="mailto:support@ttdlogistics.in">support@ttdlogistics.in</a>.<br>
                </span>
            </div>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{data | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by TTD Logistics
                    Developers
                </span>
            </div>
        </div>
    </div>
</footer>