@import "~bootstrap-icons/font/bootstrap-icons.css";
body {
  margin-top: 20px;
}
.rounded-circle {
  border-radius: 50% !important;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.sub-info {
  font-weight: bold;
  font-family: "Quando";
  color: #004975;
  padding-bottom: 23px;
    font-size: xx-large;
}

.display-30 {
  font-size: x-large;
  padding-bottom: 10px;
}

.para-changes {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  text-align: justify;
}

.mt-photo {
  padding-top: 125px !important;
  margin-top: 120px !important;
}

.bg-text {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-family: "Quando";
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 76%;
  padding: 20px;
  text-align: center;
  height: 201px;
  font-size: x-large;
}

.ceo-text {
  color: #610b02;
  text-align: justify;
  font-size: 25px;
  line-height: 33px;
  padding-top: 10px;
  font-style: italic !important;
}

.ceo-image {
    width: auto;
    left: 0;
    top: -19px;
    height: 104%;
    position: absolute;
}
