@import "~bootstrap-icons/font/bootstrap-icons.css";
body {
  margin-top: 20px;
}
.rounded-circle {
  border-radius: 50% !important;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.sub-info {
  font-weight: bold;
  font-family: "Quando";
  color: #004975;
  padding-bottom: 23px;
    font-size: xx-large;
}

.display-30 {
  font-size: x-large;
  padding-bottom: 10px;
 
}

.para-changes {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  text-align: justify;
}

.mt-photo {
  padding-top: 125px !important;
  margin-top: 120px !important;
}

.responsive-img-wrapper {
  position: relative;
  width: 100%;
  height: 500px; /* Adjust height as needed */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.9; /* Adjust opacity to make the background darker */
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; /* Text color */
  z-index: 2; /* Ensure text is on top of the background */
}

.carousel-caption h4 {
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold;
}
@media screen and (min-width:481px){
  .bg-text {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-family: "Quando";
    border: 0px #f1f1f1;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 76%;
    padding: 20px;
    text-align: center;
    height: 201px;
    font-size: xx-large;
      line-height: 1.2em;
  }
}
@media screen and (max-width:480px) {
  .bg-text {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-family: "Quando";
    border: 0px #f1f1f1;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 76%;
    padding: 20px;
    text-align: center;
    height: 201px;
    font-size: x-large;
      line-height: 1.2em;
  }
}

.ceo-text {
  color: #610b02;
  text-align: justify;
  font-size: x-large;
  line-height: 33px;
  padding-top: 10px;
  font-style: italic !important;
}

.Introduction-text {
  color: black;
  text-align: justify;
  font-size: large;
  line-height: 33px;
  padding-top: 10px;
  padding-left: 10px;
 
}
.WhyChooseUsLeftSection-text {
  color: black;
  text-align: justify;
  font-size: 25px;
  line-height: 33px;
  padding-top: 10px;
  padding-left: 10px;
 
}

.WhyChooseUsRightSection-text {
  color: black;
  text-align: justify;
  font-size: 25px;
  line-height: 33px;
  padding-top: 10px;
  padding-right: 10px;
 
}
.ceo-image {
    width: auto;
    left: 0;
    top: -23px;
    height: 80%;
    margin-left: 10%;
    position: absolute;
}

.ceo-name-homepage{
  margin-top: 15px;
}

@media screen and (min-width:481px){
  .polaroid {
    padding: 42px;
    margin: 42px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
}


.elementor-heading-title {
  color: #dc360f;
  font-family: "Quando", Sans-serif;
   font-size: 30px; 
  font-weight: 900;
  text-transform: capitalize;
  margin-top: -22px;
  margin-bottom: 20px;
}

@media screen and (max-width:480px) {
  .polaroid {
    display: block !important;
    margin-left: 0%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  }
}