<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('./assets/img/sections/pk-pro-cover.jpg')">
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <div class="angular-logo mt-photo"><img alt="" src="./assets/img/ttd-new-logo-small.png"></div>
          <h1 class="presentation-title text-color">TTD Logistics</h1>
          <!-- <div class="type">PRO</div> 
          <div class="fog-low">
            <img src="./assets/img/sections/fog-low.png" alt="">
          </div>-->
          
        </div>
        
      </div>
    </div>
  </div>
</div>
<div class="blog-1" id="blog-1">
  <div class="container">
      <div class="row">
          <div class="col-md-10 ml-auto mr-auto">
              
              <br />
              <div class="card card-plain card-blog">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="card-body">
                              <h2 class="card-category text-center section-title">Our History</h2>
                              <h3 class="card-title">
                                  <a href="javascript:void(0)">In TTD Logistics dedication is the key that drives growth and our partnership is based on trust</a>
                              </h3>
                              <p class="card-description para-changes">
                                TTD Logistics Pvt. Ltd. began operations in October 2018 and is headquartered in Pune, Maharashtra. It was founded by Mrs. Shrutika Sahebrao Rautwar with a vision to establish a company that will provide critical efficiency and reliability, and today it’s a popular logistics service provider in Pune that focuses on connecting people and improving lives. It offers secure and reliable delivery of consignments to multiple locations in India. We have our branches in over 6 cities till now and it aims to expand more not only in Pan India level but Globally.
                              </p>
                              <p class="card-description para-changes">Logistics management is a critical function that affects the efficiency, cost and customer satisfaction of any business and our team’s goal is specifically measured to achieve it.  </p>
                              
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="project-4 section section-dark">
  <div class="container">
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
              <!-- <h2 class="title">Some of Our Awesome Projects - 4</h2> -->
              <h5 class="description">As we are growing since 2018, here’s a look at some of the milestones along our journey
                  </h5>
          </div>
      </div>
      <div class="space-top"></div>
      <div class="row">
          <div class="col-md-5 ml-auto">
              <div class="card" data-background="image"
                  style="background-image: url('assets/img/sections/CompanyOpen.jpeg')">
                  <div class="card-icon">
                      <i class="bi bi-heart"></i>
                  </div>
              </div>
          </div>

          <div class="col-md-5 mr-auto">
              <div class="card card-plain">
                  <div class="card-body">
                      
                      <a href="javascript:void(0)">
                          <h3 class="card-title">2018 - 2019</h3>
                      </a>
                      <p class="card-description">TTD Logistics was established in the year 2018 and within the span of one year we managed to become one of the recognized brands in the market. </p>

                  </div>
              </div>
          </div>
      </div>
      <br />
      <hr /><br />
      <div class="row">
          <div class="col-md-5 ml-auto">
              <div class="card card-plain">
                  <div class="card-body">
                      
                      <a href="javascript:void(0)">
                          <h3 class="card-title">2020</h3>
                      </a>
                      <p class="card-description">Received recognition award from one of the leading organizations in the logistics industry. </p>
                  </div>
              </div>
          </div>

          <div class="col-md-5 mr-auto">
              <div class="card" data-background="image"
                  style="background-image: url('assets/img/sections/Award.jpeg')">
                  <div class="card-icon">
                      <i class="bi bi-award-fill"></i>
                  </div>
              </div>
          </div>
      </div>
      <br />
      <hr /><br />
      <div class="row">
        <div class="col-md-5 ml-auto">
            <div class="card" data-background="image"
                style="background-image: url('assets/img/sections/NewStart.jpg')">
                <div class="card-icon">
                    <i class="bi bi-house"></i>
                </div>
            </div>
        </div>

        <div class="col-md-5 mr-auto">
            <div class="card card-plain">
                <div class="card-body">
                    
                    <a href="javascript:void(0)">
                        <h3 class="card-title">2023 - 2024</h3>
                    </a>
                    <p class="card-description">We started operating from multiple locations in Maharashtra.  </p>

                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<footer class="footer section-nude">
  <div class="container">
      <div class="row">
          <nav class="footer-nav">
              <ul>
                  <li><a href="/">TTD Logistics</a></li>
                  
              </ul>
          </nav>
          <div class="credits ml-auto">
              <span class="copyright">
                  © {{data | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by TTD Logistics Developers
              </span>
          </div>
      </div>
  </div>
</footer>