<nav class="navbar navbar-expand-lg fixed-top" color-on-scroll="500" style="background-color: white !important;">
    <div class="container">
        <div class="navbar-translate">
            <div class="navbar-header">
                <img alt="" src="./assets/img/ttd-new-logo-small.png">
                <a class="navbar-brand text-color" [routerLink]="['/home']">TTD Logistics</a>
            </div>
            <button class="navbar-toggler navbar-burger" style="background: red;" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="btn btn-round btn-link text-color" [routerLink]="['/home']">
                         Home 
                    </a>
                </li>
                <li class="nav-item">
                    <div ngbDropdown class="nav-item dropdown">           
                        <div class="nav-link dropdown-toggle text-color" style="margin-left: 10px; cursor: pointer;     margin-top: 13px;" ngbDropdownToggle>About Us</div>
                        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right dropdown-danger"> 
                            <a class="dropdown-item" [routerLink]="['/about/history']">&nbsp; History</a>
                            <a class="dropdown-item" [routerLink]="['/about/mission']">&nbsp; Mission & Vision</a>
                            <a class="dropdown-item" [routerLink]="['/about/directors']">&nbsp; Board Of Directors</a>
                            <a class="dropdown-item" [routerLink]="['/about/pitchdeck']">&nbsp; Pitch Deck</a>
                            <a class="dropdown-item" [routerLink]="['/about/whychooseus']">&nbsp;
                                Why TTDL 
                            </a>
                            <a class="dropdown-item" [routerLink]="['/about/officetours']">&nbsp; Office Tours</a>
                            
                        </div>
                    </div>
                </li> 
                <li class="nav-item">
                    <div ngbDropdown class="nav-item dropdown">           
                        <div class="nav-link dropdown-toggle text-color" style="margin-left: 10px; cursor: pointer; margin-top: 13px;" ngbDropdownToggle>Services</div>
                        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right dropdown-danger">
                            <a class="dropdown-item" [routerLink]="['/services/corporatetransportservices']">&nbsp; Corporate Transport Services</a>
                            <a class="dropdown-item" [routerLink]="['/services/e-commercedelivery']">&nbsp; E-commerce Delivery</a>
                            <a class="dropdown-item" [routerLink]="['/services/regionaltransportation']">&nbsp; Regional Transportation</a>
                            <a class="dropdown-item" [routerLink]="['/services/evehiclechargingservicestation']">&nbsp;EV-Charging & Service Station</a>

                        </div>
                    </div>
                </li>  
                <li class="nav-item">
                    <a class="btn btn-round btn-link text-color" style="cursor: pointer; margin-top: 11px;" [routerLink]="['/electrifyingttd']">
                        <i class="bi bi-house"></i> Electrifying TTDL 
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-round btn-link text-color" [routerLink]="['/careers']">
                         Careers  
                    </a>
                </li>
               
                <li class="nav-item">
                    <a class="btn btn-round btn-link text-color" [routerLink]="['/examples/contactus']">
                        Contact Us 
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-round btn-danger" href="https://mis.ttdlogistics.in/">
                        <i class="nc-icon nc-cart-simple"></i>   Login    
                    </a>
                </li>              
            </ul>
        </div>
    </div>
</nav>
