<div class="wrapper">
    <div class="page-header ">
      <div class="content-center">
        <div class="container">
          <div class="title-brand text-center bg-text">
            <!-- <div class="angular-logo mt-photo"><img alt="" src="./assets/img/ttd-new-logo-small.png"></div> -->
            <h3 class="presentation-title text-color">Creating value through integrated logistics solutions.</h3>
          </div>
          
        </div>
      </div>
    </div>
</div>
<div class="container">
<h1 class="card-title text-center elementor-heading-title">Welcome to our vibrant workspace where collaboration thrives, creativity flows, and every voice is valued. Discover a culture that fosters innovation, celebrates diversity, and empowers every team member to reach their full potential. Join us in shaping the future of work together. </h1>
</div>
<div class="container">
<h4 class="text-center">Images of staff and team</h4>
</div>
<footer class="footer section-nude"> 
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="/">TTD Logistics</a></li>
                    
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{data | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by TTD Logistics Developers
                </span>
            </div>
        </div>
    </div>
  </footer>