<div class="wrapper">
    <div class="page-header bg-container section-image showcase"
        style="background: url('./assets/img/EVCHARGINGSERVICESTATION.jpg') center center scroll;min-height:430px;margin-top:50px">
        <div class="content-center">
            <div class="container">
                <div class="title-brand text-center bg-text">
                    <!-- <div class="angular-logo mt-photo"><img alt="" src="./assets/img/ttd-new-logo-small.png"></div> -->
                    <h3>Delivering Beyond Expectations: Your Trusted Logistics Partner.</h3>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="section section-components section">
    <div class="row">
        <div class="col-md-10 col-lg-14 ml-auto mr-auto">
            <!--  <h6 class="category">The core elements of your website</h6> -->
            <div class="container">
                <h5 class="Introduction-text">EV charging stations & services are becoming increasingly important in the
                    transportation industry. With the global shift towards sustainability and reducing carbon emissions,
                    electric vehicles are gaining popularity. With an essential infrastructure to support this
                    transition, TTD Logistics provide convenient and accessible charging options. By investing and
                    promoting EV charging infrastructure, we demonstrate our commitment to sustainability and
                    environmental stewardship. Providing clean energy options for transportation aligns with corporate
                    social responsibility initiatives and helps reduce greenhouse gas emission and air pollution.</h5>

            </div>
        </div>
    </div>
</div>

<div class="section section-components section" style="padding-top: 0px;">
    <div class="row">
        <div class="col-md-10 col-lg-14 ml-auto mr-auto">
            <div class="container">
                <!-- <h1 class="elementor-heading-title text-center">By embracing EVs, TTDL offers numerous advantages to our
                    clients and partners</h1> -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card gradiant">
                            <div class="card-body">
                                <h3 class="card-category elementor-heading-title"
                                    style="text-align: center; margin-bottom: 47px;">
                                    Deliver end-to-end charging</h3>
                                <p class="card-description para-change text-large Introduction-text">
                                    We are proud to offer end-to-end electric vehicle (EV) charging solutions, providing
                                    comprehensive support for the growing fleet of electric vehicles. From installation
                                    and management to maintenance and optimization, we ensure that your EV charging
                                    infrastructure is efficient, reliable, and ready to power the future of
                                    transportation.
                                </p>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card gradiant">
                            <div class="card-body">
                                <h3 class="card-category elementor-heading-title" style="text-align: center;">
                                    Charging station operations & servicing</h3>
                                <p class="card-description para-change text-large Introduction-text">
                                    With our own EV charging infrastructure, we are not only supporting the transition
                                    to electric vehicles but also reducing carbon emissions and promoting a cleaner,
                                    greener future. Our EV charging station services help you contribute to a more
                                    sustainable transportation ecosystem.
                                </p>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card gradiant">
                            <div class="card-body">
                                <h3 class="card-category elementor-heading-title" style="text-align: center;">
                                    Enhanced accessibility</h3>
                                <p class="card-description para-change text-large Introduction-text">
                                    With our enhanced accessibility features and services, we’re proud to support the
                                    diverse needs of the EV community and promote equal access to sustainable
                                    transportation options.
                                </p>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card gradiant">
                            <div class="card-body">
                                <h3 class="card-category elementor-heading-title" style="text-align: center;">
                                    Range anxiety mitigation</h3>
                                <p class="card-description para-change text-large Introduction-text">
                                    We provide peace of mind and convenience to drivers, enabling them to embrace
                                    electric mobility with confidence.
                                </p>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-lg-14 ml-auto mr-auto">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title text-center elementor-heading-title text-center ">Expanding Our Footprints
                    </h2>
                    <h3 class="card-title text-center elementor-heading-title text-center">Here are some of our
                        esteemed
                        clientele </h3>
                </div>
                <div class="our-clients">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-2 col-5">
                                <img src="./assets/img/img/Mahindra.jpg" alt="" width="160" height="140" />
                            </div>
                            <div class="col-md-2 col-5">
                                <img src="./assets/img/img/Piaggi.JPG" alt="" width="160" height="140" />
                            </div>
                            <div class="col-md-2 col-5">
                                <img src="./assets/img/img/Bajaj.jpg" alt="" width="160" height="140" />
                            </div>
                            <div class="col-md-2 col-5">
                                <img src="./assets/img/img/Tata.jpg" alt="" width="160" height="140" />
                            </div>
                            <div class="col-md-2 col-5">
                                <img src="./assets/img/img/sathi.jpg" alt="" width="160" height="140" />
                            </div>
                            <div class="col-md-2 col-5">
                                <img src="./assets/img/img/Hero.jpg" alt="" width="160" height="140" />
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer section-nude">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Other social media icons and links -->
            <div class="col-auto">
                <a>
                    <img src="./assets/img/demo/instagram-logo-3.png" (click)="openInstagramLink()" alt="Instagram"
                        class="social-media-icon" style="height: 27px;">
                </a>
            </div>
            <!-- Other social media icons and links -->
            <div class="col-auto">
                <a>
                    <img src="./assets/img/demo/facebook-logo-0.png" alt="" (click)="openFacebook()"
                        class="social-media-icon" style="height: 40px;;">
                </a>
            </div>
            <!-- Other social media icons and links -->
            <div class="col-auto">
                <a>
                    <img src="./assets/img/demo/Youtube-Icon.png" (click)="openYouTubeLink()" alt=""
                        class="social-media-icon" style="height: 40px;;">
                </a>
            </div>
            <!-- Other social media icons and links -->
            <div class="col-auto">
                <a>
                    <img src="./assets/img/demo/Link_Logo.jpeg" (click)="openLinkedInProfile()" alt=""
                        class="social-media-icon" style="height: 30px;;">
                </a>
            </div>
        </div>
        <div class="row">

            <nav class="footer-nav">
                <ul>
                    <li><a href="/">TTD Logistics</a></li>

                </ul>
            </nav>
            <div class="credits ml-auto justify-content-center">
                <span class="copyright">
                    Email: <a href="mailto:support@ttdlogistics.in">support@ttdlogistics.in</a>.<br>
                </span>
            </div>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{data | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by TTD Logistics Developers
                </span>
            </div>
        </div>
    </div>
</footer>