.section-title{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #610b02;
    text-align: center;
    padding-top: 50px;
    }
    .para-changes{
      font-family: "Open Sans", sans-serif;
      color: #444444;
      text-align: justify;
     }
 .section-title-div{
    text-align: center;
    padding-bottom: 30px;
    }