.section-title{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #610b02;
    text-align: center;
    padding-top: 50px;
    }
    .para-changes{
      font-family: "Open Sans", sans-serif;
      color: #444444;
      text-align: justify;
      font-size: x-large;
     }
 .section-title-div{
    text-align: center;
    padding-bottom: 30px;
    }

    .mt-photo{
      padding-top: 125px !important;
       margin-top: 120px !important;
  }

  .text-large{
    font-size: x-large;
  }
  .elementor-heading-title {
    color: #dc360f;
    font-family: "Quando", Sans-serif;
     font-size: 23px; 
    font-weight: 500;
    text-transform: capitalize;
	}