<div class="wrapper">
    <div class="page-header section" style="background-image: url('./assets/img/Electric_Bikes.JPG'); height:'500'; width:'100%';     background-color: white;">
      <div class="content-center">
        <div class="container">
          <div class="title-brand">
            <div class="angular-logo mt-photo"><img alt="" src="./assets/img/ttd-new-logo-small.png"></div>
            <h1 class="presentation-title text-color">TTD Logistics</h1>
            <!-- <div class="type">PRO</div> -->
            <!-- <div class="fog-low">
              <img src="./assets/img/sections/fog-low.png" alt="">
            </div> -->
            
          </div>
          
        </div>
      </div>
    </div>

  <div class="page-header section-cards" style="background-color: white; min-height: 50vh;">
    <div style="margin-top: 8px !important;">
      
      <!-- <h2 class="title text-center">Your Latest Blogpost 5</h2> -->
       <div class="row" style="padding: 25px;">
          <div class="col-md-6">
              <div class="card gradiant">
                  <div class="card-body">
                      <h3 class="card-category elementor-heading-title" style="text-align: center;">
                          Our Vision</h3>
                      <!-- <a href="javascript:void(0)">
                          <h3 class="card-title">Twenty-Something Travel - Virtual Wayfarer</h3>
                      </a> -->
                      <p class="card-description para-change text-large Introduction-text">
                        To become an integral partner and one of the best logistics providers in the industry. Imposing innovative technology and sustainable practices to deliver seamless and efficient solutions.  
                      </p>
                      <div class="card-footer">
                          <!-- <div class="author">
                              <a href="javascript:void(0)">
                                 <img src="assets/img/faces/joe-gardner-2.jpg" alt="..." class="avatar img-raised">
                                 <span>Lynne Barrett</span>
                              </a>
                          </div> -->
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="card gradiant">
                  <div class="card-body">
                      <h3 class="card-category elementor-heading-title" style="text-align: center;">
                           Our Mission</h3>
                      <!-- <a href="javascript:void(0)">
                          <h3 class="card-title">The aesthetic quality of a product</h3>
                      </a> -->
                      <p class="card-description para-change text-large Introduction-text">
                        To deliver a definitive experience and build a strong foundation with our clients. To become an unparalleled logistics service provider and a one stop solution for our customers, employees and the communities we serve.  
                      </p>
                      <div class="card-footer">
                          <!-- <div class="author">
                              <a href="javascript:void(0)">
                                 <img src="assets/img/faces/erik-lucatero-2.jpg" alt="..." class="avatar img-raised">
                                 <span>Eric J Barnes</span>
                              </a>
                          </div> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>     
      
     </div>
  </div>
</div>
<footer class="footer section-nude">
  <div class="container">
      <div class="row">
          <nav class="footer-nav">
              <ul>
                  <li><a href="/">TTD Logistics</a></li>
                  
              </ul>
          </nav>
          <div class="credits ml-auto">
              <span class="copyright">
                  © {{data | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by TTD Logistics Developers
              </span>
          </div>
      </div>
  </div>
</footer>