<div class="wrapper">
  <div class="page-header section-cards">
    <div class="container">
      
      <!-- <h2 class="title text-center">Your Latest Blogpost 5</h2> -->
       <div class="row">
          <div class="col-md-12">
              <div class="card" data-background="image" style="background-image: url('assets/img/sections/uriel-soberanes.jpg')">
                  <div class="card-body">
                      <h6 class="card-category">
                          <i class="fa fa-newspaper-o"></i> Our Vision</h6>
                      <!-- <a href="javascript:void(0)">
                          <h3 class="card-title">Twenty-Something Travel - Virtual Wayfarer</h3>
                      </a> -->
                      <p class="card-description para-change">
                        To become an integral partner and one of the best logistics providers in the industry. Imposing innovative technology and sustainable practices to deliver seamless and efficient solutions.  
                      </p>
                      <div class="card-footer">
                          <!-- <div class="author">
                              <a href="javascript:void(0)">
                                 <img src="assets/img/faces/joe-gardner-2.jpg" alt="..." class="avatar img-raised">
                                 <span>Lynne Barrett</span>
                              </a>
                          </div> -->
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="card" data-background="image" style="background-image: url('assets/img/sections/forest-bg.jpg')">
                  <div class="card-body">
                      <h6 class="card-category">
                          <i class="fa fa-newspaper-o"></i> Our Mission</h6>
                      <!-- <a href="javascript:void(0)">
                          <h3 class="card-title">The aesthetic quality of a product</h3>
                      </a> -->
                      <p class="card-description para-change">
                        To deliver a definitive experience and build a strong foundation with our clients. To become an unparalleled logistics service provider and a one stop solution for our customers, employees and the communities we serve.  
                      </p>
                      <div class="card-footer">
                          <!-- <div class="author">
                              <a href="javascript:void(0)">
                                 <img src="assets/img/faces/erik-lucatero-2.jpg" alt="..." class="avatar img-raised">
                                 <span>Eric J Barnes</span>
                              </a>
                          </div> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>     
      
     </div>
  </div>
</div>
<footer class="footer section-nude">
  <div class="container">
      <div class="row">
          <nav class="footer-nav">
              <ul>
                  <li><a href="/">TTD Logistics</a></li>
                  
              </ul>
          </nav>
          <div class="credits ml-auto">
              <span class="copyright">
                  © {{data | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by TTD Logistics Developers
              </span>
          </div>
      </div>
  </div>
</footer>