<div class="wrapper">
    <div class="page-header bg-container section-image showcase"
        style="background: url('./assets/img/WHY_US.jpg') no-repeat center center scroll;min-height:900px;">
        <div class="content-center">
            <div class="container">
                <div class="title-brand text-center bg-text">
                    <!-- <div class="angular-logo mt-photo"><img alt="" src="./assets/img/ttd-new-logo-small.png"></div> -->
                    <h3>Where Logistics Meets Perfection</h3>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="section section-components section">
    <div class="row">
        <div class="col-md-10 col-lg-14 ml-auto mr-auto">
            <div class="container">
                <h1 class="elementor-heading-title text-center">Solutions we provide</h1>
                <div class="row" style="padding: 25px;">
                    <div class="col-md-6">
                        <div class="card gradiant">
                            <div class="card-body">
                                <h3 class="card-category elementor-heading-title" style="text-align: center;">
                                    Inventory Reporting</h3>
                                <p class="card-description para-change text-large Introduction-text">
                                    We ensure that our team is well trained and familiar with the processes involved in
                                    documenting inventory in the first place. We use accurate and up-to-date technology
                                    to streamline the process. We perform regular audits to check for any discrepancies.
                                </p>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card gradiant">
                            <div class="card-body" style="padding: 33.4px">
                                <h3 class="card-category elementor-heading-title" style="text-align: center; margin-bottom: 68px;">
                                    Riders Safety</h3>
                                <p class="card-description para-change text-large Introduction-text">
                                    We make sure all drivers are professional and haven’t engaged in any illegal
                                    activities by asking them to upload their character police certification.
                                </p>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding: 25px;">
                    <div class="col-md-6" style="height: 50px;">
                        <div class="card gradiant">
                            <div class="card-body" style="padding: 28px;">
                                <h3 class="card-category elementor-heading-title" style="text-align: center; margin-bottom: 68px;">
                                    On-Time Deliveries</h3>
                                <p class="card-description para-change text-large Introduction-text">
                                    We make sure drivers are being sent with proper route planning, or with the updated
                                    tracking system. If there’s a case which is not in our control like traffic jam on
                                    the highway, we inform our customers on prior basis and give them updates along the
                                    way.
                                </p>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card gradiant">
                            <div class="card-body">
                                <h3 class="card-category elementor-heading-title" style="text-align: center;">
                                    Status of Consignments</h3>
                                <p class="card-description para-change text-large Introduction-text">
                                    We have proper tools available that helps us to track the consignment and get
                                    visibility into the status of the delivery. Our consignment tracking tools feature
                                    gives real-time updates on the status of the package. We are committed to provide
                                    our customers with the best possible service, and our team of experts is always
                                    looking for new ways to improve things.
                                </p>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer section-nude">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="/">TTD Logistics</a></li>

                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    Email: <a href="mailto:support@ttdlogistics.in">support@ttdlogistics.in</a>.<br>
                </span>
            </div>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{data | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by TTD Logistics
                    Developers
                </span>
            </div>
        </div>
    </div>
</footer>