<div class="wrapper">
    <div class="page-header section vission-css"
        style="background: url('./assets/img/CORPORATETRANSPORTimg.jpg');min-height: 320px;margin-top: 100px;">
        <div class="content-center">
            <div class="container">
                <div class="title-brand text-center bg-text">
                    <!-- <div class="angular-logo mt-photo"><img alt="" src="./assets/img/ttd-new-logo-small.png"></div> -->
                    <h3 style="margin: -40px 0 0;">Delivering Beyond Expectations: Your Trusted Logistics Partner.</h3>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="section section-components section">
    <div class="row">
        <div class="col-md-10 col-lg-14 ml-auto mr-auto">
            <!--  <h6 class="category">The core elements of your website</h6> -->
            <div class="container">
                <h5 class="Introduction-text">We understand the importance of reliable and efficient corporate
                    transportation services. TTD logistics provide end-to-end solutions that helps organizations reduce
                    commute related risks and increase employee satisfaction.</h5>
                <h5 class="Introduction-text">As employee safety is our utmost priority, we make sure all drivers are
                    professional and haven’t engaged in any illegal activities by verifying their character
                    certification from police.</h5>
                <h5 class="Introduction-text">With our commitment to excellence and attention to detail, we ensure a
                    seamless and comfortable travel experience for you and your team.</h5>
            </div>
        </div>
    </div>
</div>

<div class="section section-components section" style="padding-top: 0px;">
    <div class="row">
        <div class="col-md-10 col-lg-14 ml-auto mr-auto">
            <div class="container">
                <!-- <h1 class="elementor-heading-title text-center">By embracing EVs, TTDL offers numerous advantages to our
                    clients and partners</h1> -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card gradiant">
                            <div class="card-body">
                                <h3 class="card-category elementor-heading-title"
                                    style="text-align: center; margin-bottom: 47px;">
                                    Executive Cab Service</h3>
                                <p class="card-description para-change text-large Introduction-text">
                                    Elevate your business trips with our reliable and professional corporate
                                    transportation services. Our experienced drivers will ensure you arrive at your
                                    destination on time and in style, allowing you to focus on what matters most.
                                </p>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card gradiant">
                            <div class="card-body">
                                <h3 class="card-category elementor-heading-title" style="text-align: center;">
                                    Scheduled Pick-up & Drop</h3>
                                <p class="card-description para-change text-large Introduction-text">
                                    Streamline your logistics operations with our scheduled pick-up services. Our
                                    experienced team works closely with you to establish a convenient pick-up schedule
                                    tailored to your specific needs. Whether it’s daily, weekly, or customized pickups,
                                    we ensure prompt and efficient collection of your shipments.
                                </p>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card gradiant">
                            <div class="card-body">
                                <h3 class="card-category elementor-heading-title" style="text-align: center;">
                                    Day Rental</h3>
                                <p class="card-description para-change text-large Introduction-text">
                                    We offer comprehensive day rental services to meet all your transportation needs.
                                    Whether you’re planning a special event, moving inventory between locations, or
                                    require temporary vehicle solutions, our flexible day rental options ensure that you
                                    have the right vehicles when and where you need them.
                                </p>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card gradiant">
                            <div class="card-body">
                                <h3 class="card-category elementor-heading-title" style="text-align: center;">
                                    Dedicated Company Owned Vehicles</h3>
                                <p class="card-description para-change text-large Introduction-text">
                                    We understand the critical role that transportation plays in the success of your
                                    business. That’s why we offer dedicated company owned vehicles tailored to meet your
                                    specific logistics needs. With our comprehensive fleet and personalized service, we
                                    provide reliable and efficient transportation solutions to support your operations
                                    every step of the way.
                                </p>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-lg-14 ml-auto mr-auto">
        <div class="container" style="margin-top: -50px;">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title text-center elementor-heading-title text-center ">Expanding Our Footprints
                    </h2>
                    <h3 class="card-title text-center elementor-heading-title text-center">Here are some of our
                        esteemed
                        clientele </h3>
                </div>
                <div class="our-clients">
                    <div class="container" style="margin: 20px;margin-bottom: 60px;">

                        <div class="row justify-content-center">
                            <div class="col-md-2 col-5">
                                <img src="./assets/img/demo/Eclairs_Logo.jpeg" alt="" width="150" height="90" />
                            </div>
                            <div class="col-md-2 col-5">
                                <img src="./assets/img/img/Wipro.jpg" alt="" width="150" height="100" />
                            </div>
                            <div class="col-md-2 col-5">
                                <img src="./assets/img/img/Capgemini.jpg" alt="" width="150" height="100" />
                            </div>
                           
                            <div class="col-md-2 col-5">
                                <img src="./assets/img/img/Cognizant.jpg" alt="" width="150" height="100" />
                            </div>
                            <div class="col-md-2 col-5">
                                <img src="./assets/img/img/TCS.jpg" alt="" width="150" height="100" />
                            </div>
                            <div class="col-md-2 col-5">
                                <img src="./assets/img/img/mahindra_logistics.jpg" alt="" width="150" height="100" />
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer section-nude">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Other social media icons and links -->
            <div class="col-auto">
                <a>
                    <img src="./assets/img/demo/instagram-logo-3.png" (click)="openInstagramLink()" alt="Instagram" class="social-media-icon" style="height: 27px;">
                </a>
            </div>
                <!-- Other social media icons and links -->
                <div class="col-auto">
                    <a>
                        <img src="./assets/img/demo/facebook-logo-0.png" alt="" (click)="openFacebook()" class="social-media-icon" style="height: 40px;;">
                    </a>
                </div>
                    <!-- Other social media icons and links -->
                    <div class="col-auto">
                        <a>
                            <img src="./assets/img/demo/Youtube-Icon.png" (click)="openYouTubeLink()" alt="" class="social-media-icon" style="height: 40px;;">
                        </a>
                    </div>
                        <!-- Other social media icons and links -->
                <div class="col-auto">
                    <a>
                        <img src="./assets/img/demo/Link_Logo.jpeg" (click)="openLinkedInProfile()" alt="" class="social-media-icon" style="height: 30px;;">
                    </a>
                </div>
        </div>
        <div class="row">

            <nav class="footer-nav">
                <ul>
                    <li><a href="/">TTD Logistics</a></li>

                </ul>
            </nav>
            <div class="credits ml-auto justify-content-center">
                <span class="copyright">
                    Email: <a href="mailto:support@ttdlogistics.in">support@ttdlogistics.in</a>.<br>
                </span>
            </div>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{data | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by TTD Logistics Developers
                </span>
            </div>
        </div>
    </div>
</footer>