<div class="wrapper">
    <div class="page-header section-image showcase"
        style="background: url('./assets/img/pitch_deck.jpg') no-repeat center center scroll;min-height:670px;">
        <div class="content-center">
            <div class="container">
                <div class="title-brand text-center bg-text">
                    <h3>We are known to deliver efficiency on every mile of the way.</h3>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="blog-1" id="blog-1">
    <div class="container">
        <div class="row">
            <div class="col-md-10 ml-auto mr-auto">

                <br />
                <div class="card card-plain card-blog">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">

                                <p class="card-description para-changes">
                                    TTD Logistics was established with a mission to streamline global commerce through
                                    innovative logistics solutions, enhancing efficiency, reliability, and
                                    sustainability in supply chain management. We understand the pivotal role that
                                    logistics play in the smooth functioning of businesses worldwide. TTD Logistics
                                    provide comprehensive solutions, and customer satisfaction. </p>
                                <p class="card-description para-changes">With a relentless commitment to excellence, we
                                    offer a wide range of services tailored to meet the unique needs of our clients
                                    across diverse industries. Whether it’s managing complex supply chains or optimizing
                                    transportation routes, our experienced team is dedicated to finding innovative
                                    solutions to your logistics challenges. </p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer section-nude">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Other social media icons and links -->
            <div class="col-auto">
                <a>
                    <img src="./assets/img/demo/instagram-logo-3.png" (click)="openInstagramLink()" alt="Instagram"
                        class="social-media-icon" style="height: 27px;">
                </a>
            </div>
            <!-- Other social media icons and links -->
            <div class="col-auto">
                <a>
                    <img src="./assets/img/demo/facebook-logo-0.png" alt="" (click)="openFacebook()"
                        class="social-media-icon" style="height: 40px;;">
                </a>
            </div>
            <!-- Other social media icons and links -->
            <div class="col-auto">
                <a>
                    <img src="./assets/img/demo/Youtube-Icon.png" (click)="openYouTubeLink()" alt=""
                        class="social-media-icon" style="height: 40px;;">
                </a>
            </div>
            <!-- Other social media icons and links -->
            <div class="col-auto">
                <a>
                    <img src="./assets/img/demo/Link_Logo.jpeg" (click)="openLinkedInProfile()" alt=""
                        class="social-media-icon" style="height: 30px;;">
                </a>
            </div>
        </div>
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="/">TTD Logistics</a></li>

                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{data | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by TTD Logistics Developers
                </span>
            </div>
        </div>
    </div>
</footer>