<div class="wrapper">
    <div class="page-header bg-container section-image showcase"
        style="background: url('./assets/img/ED.jpg') center center scroll;;min-height:500px;">
        <div class="content-center">
            <div class="container">
                <div class="title-brand text-center bg-text">
                    <!-- <div class="angular-logo mt-photo"><img alt="" src="./assets/img/ttd-new-logo-small.png"></div> -->
                    <h3>Delivering Beyond Expectations Your Trusted Logistics Partner.</h3>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="section section-components section">
    <div class="row">
        <div class="col-md-10 col-lg-14 ml-auto mr-auto">
            <!--  <h6 class="category">The core elements of your website</h6> -->
            <div class="container">
                <h5 class="Introduction-text">In today’s fast-paced world, speed is essential and that’s why we offer
                    fastest delivery services to ensure that your customers receive their orders as quickly as possible.
                    We keep your customers informed on every step of the way with our real-time tracking and
                    notifications. From order confirmation to delivery confirmation, we provide updates to ensure
                    transparency and peace of mind. With our proven track record of on-time deliveries and low error
                    rates, you can trust us to handle your shipments with care and professionalism.</h5>

            </div>
        </div>
    </div>
</div>

<div class="section section-components section" style="padding-top: 0px;">
    <div class="row">
        <div class="col-md-10 col-lg-14 ml-auto mr-auto">
            <div class="container">
                <!-- <h1 class="elementor-heading-title text-center">By embracing EVs, TTDL offers numerous advantages to our
                    clients and partners</h1> -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card gradiant">
                            <div class="card-body">
                                <h3 class="card-category elementor-heading-title"
                                    style="text-align: center; margin-bottom: 47px;">
                                    Trucks</h3>
                                <p class="card-description para-change text-large Introduction-text">
                                    We are your trusted logistics partner for all your transportation and logistics
                                    needs. With our extensive fleet of trucks, we provide reliable and efficient
                                    solutions to meet the diverse requirements of your business. Our top-of-the line
                                    trucks and dedicated team ensure that your shipments arrive safely and on time,
                                    every time.
                                </p>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card gradiant">
                            <div class="card-body">
                                <h3 class="card-category elementor-heading-title" style="text-align: center;">
                                    Small Package Vans</h3>
                                <p class="card-description para-change text-large Introduction-text">
                                    Our dedicated fleet of small package vans is designed to handle the swift and secure
                                    delivery of your parcels, documents, and small cargo items. With our efficient
                                    service and commitment to reliability, we ensure that your shipments reach their
                                    destination safely and on time, every time.
                                </p>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card gradiant">
                            <div class="card-body">
                                <h3 class="card-category elementor-heading-title" style="text-align: center;">
                                    Cargo service</h3>
                                <p class="card-description para-change text-large Introduction-text">
                                    We understand the importance of reliable and efficient cargo transportation for
                                    businesses of all sizes. Our comprehensive cargo service is designed to handle a
                                    wide range of freight, from small packages to oversized shipments, with precision
                                    and care. With our extensive network, state-of-the-art facilities, and dedicated
                                    team, we provide seamless logistics solutions to meet your cargo transportation.
                                </p>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card gradiant">
                            <div class="card-body">
                                <h3 class="card-category elementor-heading-title" style="text-align: center;">
                                    Electric Bikes</h3>
                                <p class="card-description para-change text-large Introduction-text">
                                    With our electric bike’s delivery service, we offer a sustainable and eco-friendly
                                    option for last-mile delivery, urban logistics, and courier services. Our fleet of
                                    electric bikes is quipped to handle a variety of cargo types, providing fast and
                                    reliable delivery while reducing carbon emissions and congestion in urban areas.
                                </p>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card gradiant">
                            <div class="card-body">
                                <h3 class="card-category elementor-heading-title" style="text-align: center;">
                                    Electric Vans</h3>
                                <p class="card-description para-change text-large Introduction-text">
                                    Our electric vans delivery service offers an eco-friendly and efficient option for
                                    urban logistics, last-mile delivery, and cargo transportation. With our fleet of
                                    electric vans, we provide reliable and environmentally conscious delivery solutions
                                    to meet the evolving needs of businesses and communities. </p>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card gradiant">
                            <div class="card-body">
                                <h3 class="card-category elementor-heading-title" style="text-align: center;">
                                    Electric Cabs</h3>
                                <p class="card-description para-change text-large Introduction-text">
                                    We offer an eco-friendly and efficient option for urban logistics, last-mile
                                    delivery, and courier services. With our fleet of electric cabs, we provide reliable
                                    and environmentally conscious delivery solutions to meet the evolving needs of
                                    businesses and communities.
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-lg-14 ml-auto mr-auto">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title text-center elementor-heading-title text-center ">Expanding Our Footprints
                    </h2>
                    <h3 class="card-title text-center elementor-heading-title text-center">Here are some of our
                        esteemed
                        clientele </h3>
                </div>
                <div class="card-body">
                    <div class="our-clients">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-2 col-5">
                                    <img src="./assets/img/img/StarQuiklogo.jpg" alt="" width="110" height="140" />
                                </div>
                                <div class="col-md-2 col-5">
                                    <img src="./assets/img/img/BigBasket.jpg" alt="" width="140" height="140" />
                                </div>

                                <div class="col-md-2 col-5">
                                    <img src="./assets/img/img/JioMart.jpg" alt="" width="140" height="140" />
                                </div>
                                <div class="col-md-2 col-5">
                                    <img src="./assets/img/img/Zepto.jpg" alt="" width="140" height="140" />
                                </div>
                                <div class="col-md-2 col-5">
                                    <img src="./assets/img/img/DealShare.jpg" alt="" width="140" height="140" />
                                </div>
                                <div class="col-md-2 col-5">
                                    <img src="./assets/img/demo/bbnow.jpg" alt="" width="200" height="140" />
                                </div>

                            </div>
                            <div class="row justify-content-center">
                                <div class="col-auto">
                                    <img src="./assets/img/img/zomato.jpg" alt="" width="140" height="140" />
                                </div>
                                <div class="col-auto">
                                    <img src="./assets/img/img/Flipkart.jpg" alt="" width="140" height="140" />
                                </div>
                                <div class="col-auto">
                                    <img src="./assets/img/demo/Dominos.png" alt="" width="140" height="140" />
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer section-nude">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Other social media icons and links -->
            <div class="col-auto">
                <a>
                    <img src="./assets/img/demo/instagram-logo-3.png" (click)="openInstagramLink()" alt="Instagram" class="social-media-icon" style="height: 27px;">
                </a>
            </div>
                <!-- Other social media icons and links -->
                <div class="col-auto">
                    <a>
                        <img src="./assets/img/demo/facebook-logo-0.png" alt="" (click)="openFacebook()" class="social-media-icon" style="height: 40px;;">
                    </a>
                </div>
                    <!-- Other social media icons and links -->
                    <div class="col-auto">
                        <a>
                            <img src="./assets/img/demo/Youtube-Icon.png" (click)="openYouTubeLink()" alt="" class="social-media-icon" style="height: 40px;;">
                        </a>
                    </div>
                        <!-- Other social media icons and links -->
                <div class="col-auto">
                    <a>
                        <img src="./assets/img/demo/Link_Logo.jpeg" (click)="openLinkedInProfile()" alt="" class="social-media-icon" style="height: 30px;;">
                    </a>
                </div>
        </div>
        <div class="row">

            <nav class="footer-nav">
                <ul>
                    <li><a href="/">TTD Logistics</a></li>

                </ul>
            </nav>
            <div class="credits ml-auto justify-content-center">
                <span class="copyright">
                    Email: <a href="mailto:support@ttdlogistics.in">support@ttdlogistics.in</a>.<br>
                </span>
            </div>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{data | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by TTD Logistics Developers
                </span>
            </div>
        </div>
    </div>
</footer>