<div class="team-2 section-image" style="background-image: url('assets/img/sections/jan-sendereks.jpg')">
  <div class="container">
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">Our Board of Directors</h2>
              <h5 class="description para-change">TTD Logistics is a company where services meets excellence. Every day, our team is dedicated to ensuring seamless solutions that propel businesses forward. With a relentless focus on reliability, we navigate the complexities of global logistics with precision and efficiency. Innovation drive our every move. We leverage cutting edge technology and strategic partnerships to streamline our processes and deliver unparalleled service to our clients..</h5>
          </div>
      </div>

      <div class="row">
          <div class="col-md-4">
              <div class="card card-profile card-plain">
                  <div class="card-img-top">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/demo/Amazon.png" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Mrs. Shrutika Sahebrao Rautwar </h4>
                      <h6 class="card-category">Founder & CEO</h6>
                      <!-- <div class="card-footer">
                          <a href="javascript:void(0)" class="btn btn-neutral btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                          <a href="javascript:void(0)" class="btn btn-neutral btn-link btn-just-icon"><i class="fa fa-facebook"></i></a>
                          <a href="javascript:void(0)" class="btn btn-neutral btn-link btn-just-icon"><i class="fa fa-dribbble"></i></a>
                      </div> -->
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card card-profile card-plain">
                  <div class="card-img-top">
                      
                          <img class="img" src="./assets/img/demo/Ajay-Jam.png"  alt=""/>
                      
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Mr. Ajay D. Jam </h4>
                      <h6 class="card-category">Managing Director</h6>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card card-profile card-plain">
                  <div class="card-img-top">                   
                          <img class="img" src="./assets/img/demo/1-Shashikant-Prakash-Dhumal.png"  alt=""/>                     
                  </div> 
                  <div class="card-body">
                      <h4 class="card-title">Mr. Shashikant P. Dhumal</h4>
                      <h6 class="card-category">Director</h6>

                      <!-- <div class="card-footer">
                          <a href="javascript:void(0)" class="btn btn-neutral btn-link btn-just-icon"><i class="fa fa-dribbble"></i></a>
                          <a href="javascript:void(0)" class="btn btn-neutral btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                          <a href="javascript:void(0)" class="btn btn-neutral btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
                      </div> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<footer class="footer section-nude">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="/">TTD Logistics</a></li>
                    
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    <!-- © {{data | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by TTD Logistics Developers -->
                    made with <i class="fa fa-heart heart"></i> by TTD Logistics Developers
                </span>
            </div>
        </div>
    </div>
  </footer>