
<div class="team-2">
    <div>
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h1 class="elementor-heading-title" style="font-size: x-large; margin-bottom: 10px;">Our Board of
                    Directors</h1>
                <h5 class="description para-change description-css">We are comprised of accomplished leaders from
                    various industries who bring wealth of experience and expertise to guide our organization's
                    strategic direction and decision-making processes. Committed to upholding our mission & values, each
                    member plays a vital role in ensuring our long-term success and sustainability. With a diverse range
                    of backgrounds and perspectives, our team fosters innovation and drives progress</h5>
            </div>
        </div>


        <div class="card polaroid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-profile card-plain ceo-name-homepage">
                        <div class="card-img-top">
                            <a href="javascript:void(0)">
                                <img class="img" style="height: 385px;" src="./assets/img/faces/Ceo.jpeg" />
                            </a>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Mrs. Shrutika Sahebrao Rautwar </h3>
                            <h4 class="card-category"><b>Founder & CEO</b></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2 class="elementor-heading-title" style="margin-bottom: 75px;text-align: center;">Our Team of Innovators: </h2>
    <div class="row">


        <!-- <div class="col-md-6">

            <div class="card card-profile card-plain">
                <div class="card-avatar card-avatar-image">
                    <a href="#avatar"><img src="assets/img/faces/Managing_Director.jpeg" alt="..."></a>
                </div>
                <div class="card-body">
                    <a href="javascript:void(0)">
                        <div class="author">
                            <h4 class="card-title">Mr. Ajay D. Jam</h4>
                            <h6 class="card-category text-muted">Managing Director & Promoter</h6>
                        </div>
                    </a>

                </div>
            </div>
        </div> -->
        <div class="col-md-12">

            <div class="card card-profile card-plain">
                <div class="card-avatar card-avatar-image">
                    <a href="#avatar"><img src="assets/img/faces/Shashikant_Dhumal.jpeg" alt="..."></a>
                </div>
                <div class="card-body">
                    <a href="javascript:void(0)">
                        <div class="author">
                            <h4 class="card-title">Mr. Shashikant P. Dhumal</h4>
                            <h6 class="card-category text-muted">Director & Promoter</h6>
                        </div>
                    </a>

                </div>
            </div>
        </div>
       
    </div>
    <div class="row">
        
        <div class="col-md-6">
            <div class="card card-profile card-plain">
                <div class="card-avatar card-avatar-image">
                    <a href="#avatar"><img src="assets/img/faces/MarketingHead.jpeg" alt="..."></a>
                </div>
                <div class="card-body">
                    <a href="javascript:void(0)">
                        <div class="author">
                            <h4 class="card-title">Ms. Priyanka Pandey</h4>
                            <h6 class="card-category text-muted">Marketing Head</h6>
                        </div>
                    </a>

                </div>

            </div>
        </div>
       
        <div class="col-md-6">
            <div class="card card-profile card-plain">
                <div class="card-avatar card-avatar-image img-fluid">
                    <a href="#avatar"><img src="assets/img/faces/RAJENDRA NIKAM.jpeg" alt="..."></a>
                </div>
                <div class="card-body">
                    <a href="javascript:void(0)">
                        <div class="author">
                            <h4 class="card-title">Mr.Rajendra Nikam</h4>
                            <h6 class="card-category text-muted">Director </h6>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer section-nude">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Other social media icons and links -->
            <div class="col-auto">
                <a>
                    <img src="./assets/img/demo/instagram-logo-3.png" (click)="openInstagramLink()" alt="Instagram"
                        class="social-media-icon" style="height: 27px;">
                </a>
            </div>
            <!-- Other social media icons and links -->
            <div class="col-auto">
                <a>
                    <img src="./assets/img/demo/facebook-logo-0.png" alt="" (click)="openFacebook()"
                        class="social-media-icon" style="height: 40px;;">
                </a>
            </div>
            <!-- Other social media icons and links -->
            <div class="col-auto">
                <a>
                    <img src="./assets/img/demo/Youtube-Icon.png" (click)="openYouTubeLink()" alt=""
                        class="social-media-icon" style="height: 40px;;">
                </a>
            </div>
            <!-- Other social media icons and links -->
            <div class="col-auto">
                <a>
                    <img src="./assets/img/demo/Link_Logo.jpeg" (click)="openLinkedInProfile()" alt=""
                        class="social-media-icon" style="height: 30px;;">
                </a>
            </div>
        </div>
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="/">TTD Logistics</a></li>

                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    Email: <a href="mailto:support@ttdlogistics.in">support@ttdlogistics.in</a>.<br>
                </span>
            </div>
            <div class="credits ml-auto">
                <span class="copyright">
                    made with <i class="fa fa-heart heart"></i> by TTD Logistics Developers
                </span>
            </div>
        </div>
    </div>
</footer>
